.revs
    .revs__figure
        <svg width="696" height="649" viewBox="0 0 696 649" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M313.985 386.849L0.561205 451.671L409.469 84.8009L313.985 386.849Z" fill="#E7E7E7"/>
        <path d="M338.196 394.503L433.679 92.4544L553.374 626.427L338.196 394.503Z" fill="#E7E7E7"/>
        <path d="M321.276 407.723L9.58594 481.252L538.1 648.326L321.276 407.723Z" fill="#E7E7E7"/>
        </svg>
    .revs__top.top
        h2.top__title Отзывы
        .top__nav
            button(type='button').top__arr.revs__prev
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.1041 34.5417L22.5625 25L32.1041 15.4375L29.1666 12.5L16.6666 25L29.1666 37.5L32.1041 34.5417Z" fill="currentColor"/>
                </svg>
            button(type='button').top__arr.revs__next
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.8959 34.5417L27.4375 25L17.8959 15.4375L20.8334 12.5L33.3334 25L20.8334 37.5L17.8959 34.5417Z" fill="currentColor"/>
                </svg>
    .revs__slider
        .revs__swiper.swiper
            .swiper-wrapper
                -
                    var data = [
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/1.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/2.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/3.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/4.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/1.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/2.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/3.webp'
                        },
                        {
                            txt: 'Очень хороший профессиональный мастер, который действительно разбирается в своем деле. Особенно нравится, что умеет понятно объяснить, в чем проблема и предлагает несколько вариантов решения. Ранее ко мне приезжали два сантехника и после их ремонта проблема снова появлялась...',
                            name: 'Александр Волков',
                            info: 'Архитектор',
                            img: '/images/content/revs/4.webp'
                        }
                    ];
                each i in data
                    .swiper-slide.revs__item.rev
                        .rev__top
                            .rev__frame
                                picture
                                    source(srcset="images/content/revs/frame-mobile.svg" media='(max-width: 767.98px)')
                                    source(srcset="images/content/revs/frame.svg" media='(max-width: 1919.98px)')
                                    img(src="/images/content/revs/frame.svg" alt='frame')
                            .rev__content
                                <svg width="44" height="31" viewBox="0 0 44 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.1667 30.9167H37.4167L43.5834 18.5834V0.083374H25.0834V18.5834H34.3334M3.50002 30.9167H12.75L18.9167 18.5834V0.083374H0.416687V18.5834H9.66669L3.50002 30.9167Z" fill="#003EE2"/>
                                </svg>
                                .rev__txt!=i.txt
                        .rev__bottom
                            .rev__img
                                img(src=i.img alt=i.name)
                            .rev__about
                                .rev__name= i.name
                                .rev__info= i.info